html,
body {
  margin: 0;
  height: 100%; /* 화면 전체 높이를 100%로 설정 */
  width: 100%; /* 화면 전체 너비를 100%로 설정 */
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 100%;
  background-color: #e7f2e7;
  border: 1px solid #e7f2e7;

  .header {
    width: 82%;
    height: 16%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .main {
    width: 100%;
    height: 71%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;

    .myInfo {
      width: 85%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background-color: white;
      color: white;
      border-radius: 1rem;
      column-gap: 1.2em;

      .profileImg {
        width: 14%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5em;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .profileName {
        width: 55%;
        height: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
      }

      .profileEdit {
        width: 15%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 22px;
          height: 22x;
        }
      }
    }

    .myAct {
      width: 85%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 1rem;
    }
  }

  .footer {
    width: 100%;
    height: 13%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */

    div {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .button {
        width: 30px;
        height: 30px;
        margin: 0;
      }
    }
  }
}

.footer div:focus,
.footer div:hover {
  background-color: #2c6b56; /* 배경색을 변경 */
  color: white; /* 글자 색을 하얀색으로 변경 */
}

.footer div .button {
  margin-right: 8px;
  color: inherit; /* 부모의 색상에 맞춰 아이콘 색상을 상속 */
}

.footer div:hover .button,
.footer div:focus .button {
  color: white; /* 아이콘 색을 하얀색으로 변경 */
}
